.cm-explang {
    height: auto;
    font-family: monospace;
    font-size: 15px;
}

.CodeMirror.form-control {
    padding: 2px 8px;
}

.cm-cell br {
    clear: both;
}

.cm-cell label {
    cursor: auto;
    float: left;
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
}

.cm-cell .cm-label {
    line-height: 26px;
}

.cm-cell .cm-notice {
    line-height: 26px;
    padding: 0 4px;
}


.cm-s-explang span.cm-comment { color: #a86; }
.cm-s-explang span.cm-keyword { line-height: 1em; font-weight: bold; color: #00f; }
.cm-s-explang span.cm-string { color: #a22; }
.cm-s-explang span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-explang span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-explang span.cm-variable { color: #08F; }
.cm-s-explang span.cm-number, .cm-s-explang span.cm-atom { color: #3a3; }
.cm-s-explang span.cm-meta { color: #555; }
.cm-s-explang span.cm-link { color: #3a3; }
.cm-s-explang span.cm-operator { color: #008; }
.cm-s-explang span.cm-error { border-bottom: 1px dotted red; }

.cm-s-explang .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-explang .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.cm-hint-hint {
    margin-left: 3px;
    margin-top: -3px;
}

.cm-signature {
    font: 12px Consolas;
    margin: 6px;
}

.cm-signature .type {
    color: #693;
}

.cm-signature .name {
    color: #333;
}

.cm-signature .args {
    color: #369;
}

.cm-signature .hint {
    cursor: help;
    border-bottom: 1px dotted #777;
}

.cm-hint-icon {
    padding-left: 22px;
    position: relative;
    line-height: 18px;
    font-size: 13px;
}

.cm-hint-icon:before {
    position: absolute;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.7);

    content: "U";
    background: #AAA;
}

.cm-hint-icon-mixed:before {
    content: "?";
    background: #222;
}

.cm-hint-icon-null:before {
    content: "N";
    background: #666; /* null is evil */
}

.cm-hint-icon-string:before {
    content: "S";
    background: #a22;
}

.cm-hint-icon-boolean:before {
    content: "B";
    background: #a82;
}

.cm-hint-icon-integer:before {
    content: "I";
    background: #3a3;
}

.cm-hint-icon-double:before {
    content: "D";
    background: #3a3;
}

.cm-hint-icon-object:before {
    content: "O";
    background: #08F;
}

.cm-hint-icon-function:before {
    content: "F";
    background: #C0C;
}

.cm-hint-icon-method:before {
    content: "M";
    background: #C0C;
}
